body{
    margin: 0%;
}

:root {
  --roxo: rgb(183, 0, 255);
}

.grid_div a {
    color: var(--roxo);      /* Resolve a cor do link */
    text-decoration: none;   
}

.text_head {
    text-align: center;
    font-size: 50px;    
}

.body_grid{
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 2fr 2fr 2fr ;
}
.grid_div{
    background-color: rgb(3, 255, 192);
    border: 5px solid black;
    text-align: center;
    color: var(--roxo);
    border-radius: 20px;
    margin-left: 10px;
}

.grid_div:hover{
    background-color: antiquewhite;

}